# Compiled source #
###################
*.pyc
*.pyo

########################
# Gvim Temporary Files #
########################
*~
*.swp
*.bak
############################
# Ignore cache directories #
############################
*__pycache__*
